:root{
    --primary-color: #FF6B00;
    --secondary-color: #1C1C1C;
    --accent1-color: #1C1C1C;
    --accent2-color: #005377;
    --heading-font: 'Open Sans', sans-serif;
    --body-font: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--primary-color);
    width: 100%;
    color: var(--accent2-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    gap: 2rem;
}
header nav{
    display: flex;
    justify-content: space-evenly;
   
}
header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
}
.hero {
  position: relative;
  text-align: center;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
}

.newsletter {
  background-color: #f9f9f9;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: var(--body-font);
}

.newsletter h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: var(--accent2-color);
  font-family: var(--heading-font);
}
.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cta{
    margin: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: var(--secondary-color);
}
.form-group input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--body-font);
}
.newsletter button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--body-font);
}
.newsletter button:hover {
  background-color: #cc5600;
}
.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.grid-item img {
  width: 100%;
  border-radius: 8px;
}
.grid-item p {
  text-align: center;
  padding: 0.5rem;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
}

footer .socialmedia {
    display: flex;
    gap: 1rem;
}

footer .socialmedia a img {
    width: 30px;
}