:root{
    --primary-color: #FF6B00;
    --secondary-color: #1C1C1C;
    --accent1-color: #1C1C1C;
    --accent2-color: #005377;
    --heading-font: 'Open Sans', sans-serif;
    --body-font: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--primary-color);
    width: 100%;
    color: var(--accent2-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    gap: 2rem;
}
header nav{
    display: flex;
    justify-content: space-evenly;
   
}
header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
}
.hero {
  position: relative;
  text-align: center;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
}

















footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
}

footer .socialmedia {
    display: flex;
    gap: 1rem;
}

footer .socialmedia a img {
    width: 30px;
}