.callout {
	max-width: 40vw;
    margin: 1px;
    border: 1px;
    padding: 10px;
    background-color: darkblue;
    color: white;
}

.callout img {
	float: right;
    margin: 10px;
    border: 2px;
    padding: 10px;
    background-color: black;
    width: 100px;
    height: auto;
}

blockquote {
	margin: 10px;
}

cite {
	display: block;
    border-top: 2px solid black;
    padding-top: 5px;
    text-align: right;
    font-size: large;
}